interfaces:
  device: any

protocols:
  icmp:
    enabled: {{ packetbeat_enable_icmp | lower }}

{% if packetbeat_protocols_ports | length > 0 -%}
{% for packetbeat_protocol_ports in packetbeat_protocols_ports %}
  {{ packetbeat_protocol_ports.protocol }}:
    ports: [{{ packetbeat_protocol_ports.ports | join(', ') }}]

{% endfor -%}
{% endif -%}

output:
  logstash:
    enabled: {{ packetbeat_logstash_output | lower }}
    hosts: ["{{ packetbeat_logstash_host }}"]
    {% if packetbeat_logstash_proxy is defined -%}
    proxy_url: {{ packetbeat_logstash_proxy }}
    {% endif -%}
    {% if packetbeat_logstash_proxy_use_local_resolver is defined -%}
    proxy_use_local_resolver: {{ packetbeat_logstash_proxy_use_local_resolver | lower }}
    {% endif -%}
    index: packetbeat
    tls:
      certificate_authorities: {{ certificate_authorities }}

shipper:
  {% if packetbeat_shipper_tags | length > 0 -%}
  tags: ["{{ packetbeat_shipper_tags | join('\", \"') }}"]
  {% endif -%}
  ignore_outgoing: {{ packetbeat_ignore_outgoing | lower }}
  refresh_topology_freq: {{ packetbeat_refresh_topology_freq }}
  topology_expire: {{ packetbeat_topology_expire }}

  {% if geoip_database_paths | length > 0 -%}
  geoip:
    paths:
      {% for path in geoip_database_paths -%}
      - "{{ path }}"
      {% endfor -%}
  {% endif%}

logging:
  level: warning

  to_files: true
  to_syslog: false

  files:
    path: /var/log/packetbeat
    name: packetbeat.log
    rotateeverybytes: 10485760 # 10MB
    keepfiles: 7
